<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97011023675-u38mo0ahvj3k8v25ga1kovsbcdinp3l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97011023675-u38mo0ahvj3k8v25ga1kovsbcdinp3l1</string>
	<key>API_KEY</key>
	<string>AIzaSyAalsCVbyMTHDaUfTM0s-9L8i1ma24nmwg</string>
	<key>GCM_SENDER_ID</key>
	<string>97011023675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loggingg.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>logintrial-2bb93</string>
	<key>STORAGE_BUCKET</key>
	<string>logintrial-2bb93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97011023675:ios:3d7111168e6b2491e5011e</string>
</dict>
</plist>